@charset "UTF-8";
body{
	text-align: center;
background-color: #524E4E;
}

a:hover{
	cursor : pointer;
}
a:visited, a:link{
	color: #524E4E;
	text-decoration: none;
	text-decoration-color: #524E4E;
}
